body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body header {
  height: 60px;
  text-align: center;
  background-color: #212529;
}
body footer {
  height: 60px;
  color: white;
  margin-top: auto;
  background-color: #212529;
}
body footer .fi {
  text-decoration: none;
}
body .main-content {
  height: calc(100% - 120px);
  min-height: calc(100vh - 120px);
  background-color: #f1f1f1;
  display: flex;
}
body .main-content .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden !important;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}
body .main-content .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
body .main-content .sidenav a:hover {
  color: #f1f1f1;
}
body .main-content .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
body .main-content .sidenav a:last-child {
  margin-top: auto;
  margin-bottom: 30px;
}
body .main-content .sidenav .soloLogin {
  margin-top: 0 !important;
}
body .main-content #main {
  animation: slideFromTop 2s ease-in-out;
  transition: margin-left 0.5s;
  display: flex;
  min-height: calc(100vh - 120px);
}
body .main-content #main .content_home {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 20px;
}
body .main-content #main .content_home .title_home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  color: #002266;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
body .main-content #main .content_home .form_inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main-content #main .content_home .form_inside form {
  width: 80%;
}
body .main-content #main .content_home .form_inside form .css-button-rounded--blue {
  min-width: 130px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e;
}
body .main-content #main .content_home .form_inside form .css-button-rounded--blue:hover {
  background: #fff;
  color: #2c0b8e;
}
body .main-content #main .content_home .form_inside form .checkSkills,
body .main-content #main .content_home .form_inside form .checkTrainings,
body .main-content #main .content_home .form_inside form .checkCompanies {
  margin-left: 50px;
}
body .main-content #main .content_home .form_inside form .checkDepartments {
  margin-left: 100px;
}
body .main-content #main .content_home .form_inside form .hidden {
  display: none;
}
body .main-content #main .content_home .form_inside form .databaseButtons {
  padding-left: 0;
}
body .main-content .titleLogin {
  animation: slideFromLeft 1s ease-in-out;
  color: #002266;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
}
body .main-content .title {
  animation: slideFromTop 2s ease-in-out;
  color: #002266;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px;
}
body .main-content .subtitle {
  text-align: center;
  animation: slideFromTop 3s ease-in-out;
}
body .main-content .image {
  position: relative;
  left: 0;
  opacity: 0;
}
body .main-content .fromLeft {
  animation: slideFromLeft 3s ease-in-out, fadeIn 3s ease-in-out forwards;
}
body .main-content .fromRight {
  animation: slideFromRight 3s ease-in-out, fadeIn 3s ease-in-out forwards;
}
body .main-content .images {
  width: 600px;
  height: 400px;
  display: none;
}
body .main-content .image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}
body .main-content .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(26, 87, 142, 0.7);
  color: #fff;
  padding: 10px 15px 10px 15px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.5s;
}
body .main-content .text-overlay.hover {
  opacity: 1;
}
body .main-content .image {
  cursor: pointer;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
body .main-content .image img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  transition: all 0.5s ease-in;
  transform: scale(0.9);
}
body .main-content .image:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: none;
  transform: scale(1.1);
}
body .main-content .imgContainer {
  animation: slideFromRight 1s ease-in-out;
}
body .main-content textarea {
  color: black;
  font-size: 20px;
}
body .main-content .form-group {
  margin-bottom: 20px;
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}